<mat-toolbar class="mt-2" color="primary">
  <mat-toolbar-row>
    <div class="container">
      <div class="row">
        <div class="col icon-size-xxl">
          <i class="bi bi-person-video3"></i> Videoflix
        </div>
        <div class="col">
          <div class="d-flex justify-content-end">
            <button mat-raised-button color="primary" class="me-2">
              login
            </button>

            <button mat-raised-button>sign up</button>
          </div>
        </div>
      </div>
    </div>
  </mat-toolbar-row>
</mat-toolbar>

<!-- <mat-toolbat></mat-toolbat> -->

<!-- <div class="container">
    <div class="col"><i class="bi bi-person-video3"></i> | Videoflix</div>
    <div class="col"></div>
  </div> -->
