.cursor-pointer {
  cursor: pointer;
}

.overwrite-select-matNativeControl {
  .mat-mdc-form-field-flex {
    margin-top: 6px;
  }

  .mat-mdc-form-field-infix {
    padding-top: 4px;
  }

  // .mat-mdc-form-field-flex {
  //   margin-top: 3px !important;
  // }

  // .mat-mdc-form-field-infix {
  //   padding-top: 7px !important;
  // }
}
